<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>File Download</title>
<link rel="stylesheet" type="text/css" href="static/CSS.css">
</head>
<body>
    <div class="login_div">
        <form action = "/process_files" method = "POST"> 
           <label class ="label_login" for="project">Project File:</label>
           <input type="text" placeholder="Project Location" name="project">
           <button type="submit" class="button button1">
               Submit
           </button>
        </form>
    </div>
</body>
</html>