<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="static/CSS.css">
</head>
<body>
    <div class="login_div">
        <form action = "/login" method = "POST"> 
           <label class ="label_login" for="user_name">Username:</label>
           <input type="text" placeholder="Enter Username" name="user_name">
           <label class ="label_login" for="password">Password:</label>
           <input type="text" placeholder="Enter Password" name="password">
           <button type="submit" class="button button1">
               Login
           </button>
       </form>
    </div>
</body>
</html>